body {
  font-family: 'Roboto', sans-serif;
  //background-image: url(http://minio.io/img/pw_maze_black_2X.png);
}

// set clean colors
div .mui-app-bar {
  //background-color: black;
  background-image: url(http://minio.io/img/pw_maze_black_2X.png);
  color: white;
}

// needed to center menu button
.mui-app-bar .mui-icon-button {
  margin-top: 0px;
}

// header title
.minio-header {
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

// icon color
.mui-icon {
  margin-top: 0px;
  color: #f04620;
}

.flex {
  -webkit-flex: 1;
  flex: 1;
}

// fix font, since we use roboto
Icon {
  font-family: 'material-ui-icons';
}
