body {
  font-family: 'Roboto', sans-serif;

}

// set clean colors
.mui-app-bar {
  //background-color: black;
  //background-image: url(http://minio.io/img/pw_maze_black_2X.png);
  background-color: white;
  color: white;
}

.mui-app-bar.mui-paper.mui-z-depth-1>.mui-z-depth-bottom {
  box-shadow: 0px 0px 0px #FFFFFF;
}

.mui-paper.mui-z-depth-1 {
  box-shadow: 0px 0px 0px #FFFFFF;
}

// needed to center menu button
.mui-app-bar .mui-icon-button {
  margin-top: 0px;
}

// header title
.minio-header {
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

// icon color
.mui-icon {
  margin-top: 0px;
  color: #f04620;
}

// fix font, since we use roboto
Icon {
  font-family: 'material-ui-icons';
}
